input.file-path{
  visibility: hidden
}


main {
  margin-top: 0px; }

.logo img {
  width: 100px; }

main::after {
  content: "";
  clear: both;
  display: table; }

.form_sidebar {
  padding: 20px ;
  width: 255px;
  float: left; }
  .form_sidebar ul
  {
    padding: 0px;
  }
  .form_sidebar ul li {
    position: relative;
    display: block; }
    .form_sidebar ul li::after {
      content: "";
      position: absolute;
      left: 18px;
      top: 60px;
      width: 4px;
      background: #c2c2c2;
      height: 20px;
      z-index: 10;
      border-radius: 4px; }
    .form_sidebar ul li:last-child::after {
      display: none; }
    .form_sidebar ul li a {
      display: flex;
      padding: 15px 0;
      text-decoration: none;
      align-items: center;
      color: #757575; }
      .form_sidebar ul li a span {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #757575;
        color: #e0e0e0;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 11; }
    .form_sidebar ul li.active a {
      
    }
      .form_sidebar ul li.active a span {
        width: 40px;
        height: 40px;
        background: #db7328;
        color: #fff; }
      .form_sidebar ul li.active a div {
        color: #db7328; }


.contents {
  margin-left: 260px;
  margin-right: 20px;
  border: 0px solid #db7328;
  border-radius: 10px;
  margin-top: -50px;
  margin-bottom: 50px;
  box-shadow: 0 0px 18px 0 rgba(0, 0, 0, 0.2) !important;
  position: relative;
  overflow-x: hidden; 
  background: #ffffff;  
}

.content-head {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100px;
  left: 0;
  top: 0px; }
  .content-head h4 {
    margin: 0;
    border-radius: 30px;
    background: #1c3861;
    color: #fff;
    position: absolute;
    padding: 10px 30px 10px 50px;
    top: 30px;
    left: -20px;
    font-size: 24px;
    z-index: 13; }
    .contents-head h4::after {
      position: absolute;
      top: 50%;
      content: "";
      height: 1px;
      width: 1000px;
      border-top: 1px dotted #1c3861;
      z-index: 12;
      left: calc(100% + 10px); }
  .content-head .id {
    position: absolute;
    top: 42px;
    right: 50px;
    padding-right: 10px;
    padding-left: 10px;
    background: #fff;
    z-index: 13; }

.pane {
  padding: 50px;
  padding-top: 100px; }

.pane2 {
  padding: 50px;
  padding-top: 50px;
  background: #f8f8f8; }

.controls {
  height: 80px;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  background: #eee; 
  justify-content: space-between; }

.bkbtn {
  background: #999; }

.menu-menu1 li {
  display: block; }

footer {
  background: #1e3060; }


  footer img {
    display: block;
    margin: auto; }

.input-field > label {
  z-index: 15; 
  font-weight: normal;}
   
.input-field > input {
  z-index: 16;
  position: relative; }

.tab-pane
{
  position: relative;
}

nav
{
  width: auto !important;
  height: 50px !important;
  line-height: 20px !important;
  box-shadow: none;
}
.uploaded-file
{
  width: 100px;
  height: 100px;
  border: 4px solid #aaa;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
  background-size: contain;
background-repeat: no-repeat;
background-position: center;

}
#AddModal
{
  overflow: hidden;
    overflow-y: hidden;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;

z-index: 111111 !important;
top:0 !important;
padding: 0 !important;
width: 600px;
height: 275px;;
}

.modal-dialog {

  /* width: 600px; */
  /* margin: 60px auto; */
}
#AddModal .modal-content
{
  top: 40px;
}

.modal-overlay
{
  /* z-index: 1111002 !important; */
}

.ash
{
  /* background: rgb(214, 170, 170); */
  /* clear: both; */
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid #ddd; */
  background: #fbfbfb;
  border-radius: 5px;;
  padding: 15px;;
}
.ash-field
{
  width:50%;
  /* float: left; */
  padding: 15px;
}
.ashw50
{
  width: 100%;
}

.up-files
{

}
.file-approve-buttons
{
  padding:  10px 0px;
}
.file-approve-buttons a.btn{
  margin-right: 8px;
}



.pgtitle {
  padding: 50px 0;
  background: url(../img/bg.jpg);
  background-size: cover;
  color: #fff; }

.container {
  width: 1150px; }

.signup {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 0; }
  .signup .pane {
    padding-top: 50px; }
