* {
  box-sizing: border-box; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 100;
  background: #ffffff;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1) !important; }
  header img {
    display: block;
    margin: auto; }

main {
  margin-top: 88px; }

.logo img {
  width: 100px; }

main::after {
  content: "";
  clear: both;
  display: table; }

.sidebar {
  padding: 50px 75px;
  width: 400px;
  float: left; }
  .sidebar ul li {
    position: relative;
    display: block; }
    .sidebar ul li::after {
      content: "";
      position: absolute;
      left: 18px;
      top: 60px;
      width: 4px;
      background: #c2c2c2;
      height: 20px;
      z-index: 10;
      border-radius: 4px; }
    .sidebar ul li:last-child::after {
      display: none; }
    .sidebar ul li a {
      display: flex;
      padding: 15px 0;
      text-decoration: none;
      align-items: center;
      color: #757575; }
      .sidebar ul li a span {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #757575;
        color: #e0e0e0;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 11; }
    .sidebar ul li a.active {
      font-weight: bold; }
      .sidebar ul li a.active span {
        width: 40px;
        height: 40px;
        background: #db7328;
        color: #fff; }
      .sidebar ul li a.active div {
        color: #db7328; }

.content {
  margin-left: 400px;
  margin-right: 100px;
  border: 0px solid #db7328;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 50px;
  box-shadow: 0 0px 18px 0 rgba(0, 0, 0, 0.2) !important;
  position: relative;
  overflow-x: hidden; }

.content-head {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100px;
  left: 0;
  top: 0px; }
  .content-head h4 {
    margin: 0;
    border-radius: 30px;
    background: #1c3861;
    color: #fff;
    position: absolute;
    padding: 10px 30px 10px 50px;
    top: 30px;
    left: -20px;
    font-size: 24px;
    z-index: 13; }
    .content-head h4::after {
      position: absolute;
      top: 50%;
      content: "";
      height: 1px;
      width: 1000px;
      border-top: 1px dotted #1c3861;
      z-index: 12;
      left: calc(100% + 10px); }
  .content-head .id {
    position: absolute;
    top: 42px;
    right: 50px;
    padding-right: 10px;
    padding-left: 10px;
    background: #fff;
    z-index: 13; }

.pane {
  padding: 50px;
  padding-top: 100px; }

.pane2 {
  padding: 50px;
  padding-top: 50px;
  background: #f8f8f8; }

.controls {
  height: 80px;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  background: #eee; }

.bkbtn {
  background: #999; }

.menu-menu1 li {
  display: block; }

footer {
  background: #1e3060; }
  footer img {
    display: block;
    margin: auto; }

.input-field > label {
  z-index: 15; }

.input-field > input {
  z-index: 16;
  position: relative; }

.pgtitle {
  padding: 50px 0;
  background: url(../img/bg.jpg);
  background-size: cover;
  color: #fff; }

.container {
  width: 1150px; }

.signup {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 0; }
  .signup .pane {
    padding-top: 50px; }

/*# sourceMappingURL=main.css.map */
