
*
{
    box-sizing: border-box;
}

body 
{
    // font-family: 'Roboto', sans-serif;
}
header 
{
    position: fixed;
    // height: 100px;
    // background: #1e3060;
top: 0;
width: 100%;
// padding: 30px 75px;;
display: flex;
align-items: center;
z-index: 100;
background: #ffffff;
box-shadow: 0 5px 30px 0 rgba(0,0,0,.1) !important;
img 
{
    display: block;
    margin: auto;
}
} 
main
{
    margin-top: 88px;;
    // min-height: 100vh;
}
.logo   
{


    img 
{
    width: 100px;
}
}

main::after {
    content: "";
    clear: both;
    display: table;
  }

.sidebar    
{
    // position: fixed;
    // height: 120vh;
    // background: rgba(236, 235, 235, 0.315);
    padding: 50px 75px;
    width: 400px;
    float: left;

    ul 
    {
        li 
        {
            position: relative;
            display: block;

            &::after
            {
                content: "";
                position: absolute;
                left: 18px;
                top: 60px;
                width: 4px;
                background: rgb(194, 194, 194);
                height: 20px;
                z-index: 10;
                border-radius: 4px;

            }
            &:last-child::after
            {
                display: none;
            }

            a 
            {
                display: flex;
                padding: 15px 0;
                text-decoration: none;
                align-items: center;
                color: rgb(117, 117, 117);
                
                span 
                {
                    width: 40px;
                    height: 40px;;
                    border-radius: 50%;
                    background: rgb(117, 117, 117);
                    color: rgb(224, 224, 224);

                    margin-right: 10px;;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                z-index: 11;
                // position: relative;


                }
                
            }
            a.active
            {
                // font-size: 20px;
                font-weight: bold;

                span 
                {
                    width: 40px;
                    height: 40px;;
                    background:#db7328;
                    // margin-left: -5px;
                    color: #fff;

                }
                div 
                {
                    color: #db7328;
                }

            }
        }

    }
}

.content
{
    margin-left: 400px;
    // background: rgb(241, 241, 241);
    // min-height: 120vh;
    margin-right: 100px;
    border:0px solid #db7328;
    border-radius: 10px;
    margin-top: 30px;;
    margin-bottom: 50px;
    box-shadow: 0 0px 18px 0 rgba(0,0,0,.2) !important;
    position: relative;
    overflow-x: hidden;
    // overflow-y: hidden;

}

.content-head
{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0px;
    h4
    {
        // margin-bottom: 40px;;
        margin: 0;
        border-radius: 30px;
        background: #1c3861;
        color: #fff;
    // font-family: 'Varela Round', sans-serif;
    position: absolute;
    padding: 10px 30px 10px 50px;
    top: 30px;
    left: -20px;
        font-size: 24px;
        z-index: 13;

        &::after
        {
            position: absolute;
            top:50%;
            content:"";
            height: 1px ;
            width: 1000px;
            // background: #db7328;
            border-top: 1px dotted #1c3861;
            z-index: 12;
            left: calc(100% + 10px);

        }

    }
    .id
    {
        position: absolute;
        top: 42px;
        right: 50px;;
        padding-right: 10px;
        padding-left: 10px;
        background: #fff;
        z-index: 13;

    }
}

.pane 
{
    padding: 50px ;
    padding-top: 100px;;

   
}
.pane2
{
    padding: 50px ;
    padding-top: 50px;;
    background: #f8f8f8;
}

.controls
{
    height: 80px;;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    background: #eee;
    

}
.bkbtn
{
    background: #999;
}
.menu-menu1 
{

    li
    {
        display: block;
    }
}
footer
{
    background: #1e3060;
    img 
{
    display: block;
    margin: auto;

}
}


// .ipfield
// {
//     background: rgb(128, 199, 231);
//     padding: 20px 10px 10px !important;
//     border-radius: 10px;

// }

.input-field > label

{
    z-index: 15;
    // background: rgb(226, 24, 24);


}
.input-field > input
{
    z-index: 16;
    // background: #000 !important;
    position: relative;
    
}
.pgtitle
{
    padding: 50px 0;
    background: url(../img/bg.jpg);
    background-size: cover;
    
    color: #fff;
}
.container 
{
    width: 1150px;

}
.signup
{
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 0;

    .pane
    {
        padding-top: 50px;
    }
}